body {
    background-image: radial-gradient(circle at top right, white, red);
}

.satu,
.dua {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-image: radial-gradient(circle at bottom, white, blue);
}

.dua {
    height: 200px;
    background-image: linear-gradient(to right, white, blue, white);
}